
$card-backgound-color: white;

.card-header {
  $padding: 4;

  padding: $padding;
  background-color: $card-backgound-color !important;
  border-bottom: solid;
  border-bottom-width: thin;


  .card-header-title {
    padding: $padding;
    color: black; 
  }

  .card-header-icon {
    padding: $padding;
    background-color: $card-backgound-color;
    border-style: none;
  }
  
}

.preview-wrapper {
  position: relative;
  // height: 100%;
  flex-grow: 1;

  iframe {
    background-color: $card-backgound-color;
    // height: 100%;
    height: 350px;
    width: 100%;
    display: block;
  }
}

.progress-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.react-draggable-transparent-selection .preview-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
